
.container {
        background:linear-gradient(250deg, #8EC5FC 0%, #E0C3FC 100%);    
        display: flex;
        flex-direction:column;
        gap:50px;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    .formulaire {
        width: 500px;
        background-color: whitesmoke;
        border: 2px solid black;
        border-radius: 5px;
        padding: 30px;
        box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.7), 5px 5px 5px rgba(0, 0, 0, 0.7);
    }

    label {
        font-weight: bold;
    }

    

    select {
        width: 200px;
        margin-left: 20px;
        border:none;
        outline:none;
        border-radius:20px;
        text-align:center;
        padding:3px;
        box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.5), 5px 5px 5px rgba(0, 0, 0, 0.5);
    }

    .inp{
        width:100px; margin-left: 20px;
        border:none;
        outline:none;
        border-radius:20px;
        text-align:center;
        padding:3px;
        box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.5), 5px 5px 5px rgba(0, 0, 0, 0.5);
    
    }

    .ligne {
        margin: 50px;
        display: flex;
        justify-content: space-between;
    }

    .bas {
        margin: 20px;
    }

    .btn {
        margin-top: 20px;
        display: flex;
        justify-content:center;
    }
    .btn-enr{
        height: 30px;
        background-color: green;
        color:white;
        font-weight: bold;
        cursor: pointer;
        border:none;
    }
    .btn-dec{
        height: 30px;
        background-color: red;
        color:white;
        font-weight: bold;
        cursor: pointer;
        border:none;
    }
    .titre{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    .supp{
        display:flex;
        flex-direction:column;
        gap:10px;
    }
    .clr{
        background: radial-gradient(circle at 50% 50%, #FFFFFF 0%, #000000 100%), conic-gradient(red, yellow, lime, aqua, blue, fuchsia, red);
        background-blend-mode: color-dodge, normal;;
    }
    .info{
        background:linear-gradient(250deg, #8EC5FC 0%, #E0C3FC 100%);
        padding:30px;
    }